defaults:
  - _self_
  - hydra: base_hydra

SEED: 3
meshcat_port: 7000
collect_data: false

########################################################################################################################
### PlanarPushingSimConfig
########################################################################################################################
slider_type: 'arbitrary'
arbitrary_shape_pickle_path: arbitrary_shape_pickles/small_t_pusher.pkl
arbitrary_shape_rgba: [0.15, 0.15, 0.15, 1.0]
arbitrary_shape_visual_mesh_path: null # Can be null (collision mesh will be used)
physical_properties: # Slider physical properties
  _target_: planning_through_contact.geometry.physical_properties.PhysicalProperties
  mass: 0.1
  inertia: [[1e-5, 0.0, 0.0], [0.0, 1e-5, 0.0], [0.0, 0.0, 1e-5]]
  center_of_mass: null # [0.0, 0.0, 0.0] # Use null for uniform density
  is_compliant: true
  hydroelastic_modulus: 1.0e6
  mu_dynamic: 0.5
  mu_static: 0.5
  mesh_resolution_hint: 0.01
contact_model: ContactModel.kHydroelastic
visualize_desired: true
slider_goal_pose:
  _target_: planning_through_contact.geometry.planar.planar_pose.PlanarPose
  x: 0.587
  y: -0.0355
  theta: 0.0
pusher_radius: 0.015
pusher_start_pose:
  _target_: planning_through_contact.geometry.planar.planar_pose.PlanarPose
  x: 0.587
  y: 0.15
  theta: 0.0
time_step: 0.001
draw_frames: true
use_realtime: true
delay_before_execution: 2.0
save_plots: false
save_gcs_videos: true
gamepad:
  translation_scale: 5.75e-5
  deadzone: 0.01
  gamepad_orientation:
    - [1, 0]
    - [0, -1] # requires reflection (not SO(3))
use_hardware: false
pusher_z_offset: 0.015
camera_configs:
  - name: 'overhead_camera'
    orientation: # slghtly different
      roll: -2.55
      pitch: -0.035
      yaw: 1.5462387054402587
    position: [0.91, -0.075, 0.45] # slightly different
    width: 640
    height: 480
    center_x: 318.05
    center_y: 244.107
    focal_x: 616.704
    focal_y: 616.777
    background:
      r: 0.55
      g: 0.45
      b: 0.35
      a: 1.0
    lights:
      - direction: [0.5, 0, 1]
        color: [1.0, 0.98, 0.957]
        intensity: 0.5
      - direction: [-0.5, 0, 1]
        color: [1.0, 0.98, 0.957]
        intensity: 0.5
    cast_shadows: true
    show_rgb: false
    randomize: false
  - name: 'wrist_camera'
    parent_frame: 'iiwa_link_7'
    orientation:
      roll: 0.2
      pitch: 0.0
      yaw: 1.5707
    position:
      - -0.0825
      - -0.024
      - 0.0575
    width: 640
    height: 480
    center_x: 318.05
    center_y: 244.107
    focal_x: 616.704
    focal_y: 616.777
    light_direction: [0.25, -1.0, 1.75]
    cast_shadows: false
    background:
      r: 0.47
      g: 0.39
      b: 0.27
      a: 1.0
    show_rgb: false
    randomize: false
domain_randomization_color_range: 0.0
log_dir: 'diffusion_policy_logs'

########################################################################################################################
### MultiRunConfig
########################################################################################################################
multi_run_config:
  _target_: planning_through_contact.simulation.planar_pushing_sim_config.MultiRunConfig
  num_runs: 100
  max_attempt_duration: 75
  seed: ${SEED}
  slider_type: ${slider_type}
  arbitrary_shape_pickle_path: ${arbitrary_shape_pickle_path}
  pusher_start_pose: ${pusher_start_pose}
  slider_goal_pose: ${slider_goal_pose}
  workspace_width: 0.4
  workspace_height: 0.3
  # Success criteria
  trans_tol: 0.015 # tol for pusher is 1.5x higher
  rot_tol: 3.5 # degrees
  evaluate_final_pusher_position: true
  evaluate_final_slider_rotation: true
  success_criteria: 'tolerance' # 'tolerance' or 'convex_hull'
  # Dataset path is only required when using
  # the convex_hull success criteria
  dataset_path: ''
  slider_physical_properties: ${physical_properties}
  num_trials_to_record: 1 # number of trials to record in the meshcat recording; int or "all"

########################################################################################################################
### Robot specific configs
########################################################################################################################
default_joint_positions: [0.6202, 1.0135, -0.5873, -1.4182, 0.6449, 0.8986, 2.98796]
joint_velocity_limit_factor: 1.0 # .inf

robot_station:
  _target_: planning_through_contact.simulation.controllers.iiwa_hardware_station.IiwaHardwareStation
  sim_config: null  # override in hydra.utils.instantiate
  meshcat: null     # override in hydra.utils.instantiate

########################################################################################################################
### Data Collection Config
########################################################################################################################
data_collection_config:
  plans_dir: 'trajectories/gamepad_teleop_carbon'
  zarr_path: '/home/michzeng/diffusion-policy/data/diffusion_experiments/planar_pushing/sim_sim_tee_GCS_data_carbon_large.zarr'
  policy_freq: 10.0
  state_chunk_length: 1024
  action_chunk_length: 2048
  target_chunk_length: 1024
  image_chunk_length: 128
  shape_meta:
    action:
      shape:
      - 2
    obs:
      agent_pos:
        shape:
        - 3
        type: low_dim
      overhead_camera:
        shape:
        - 3
        - 128
        - 128
        type: rgb
      wrist_camera:
        shape:
        - 3
        - 128
        - 128
        type: rgb